.menu__lista {
   display: flex;
   column-gap: 2rem;
   text-align: center;
}

.menu__item {
    font-size: 1rem;
    list-style: none;
    margin-right: 2rem;
    text-transform: uppercase;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    border-radius: 0.3rem;
    color: var(--text-color);
    padding: 10px 8px;
    text-decoration: none;
}

.menu__item:hover {
    border-radius: 5px;
    background: var(--main-color);
    transition: 0.300ms all linear;
}