:root {
    --main-color: #DE7676;
    --body-color: #2B2B2B;
    --text-color: #fff;
    --text-color-title: #5A5252;
}


*{
    scroll-behavior: smooth;
}

header {
  position: fixed;
  width: 96%;
  top: 0;
  left: 0;
  z-index: 100;
}